.navbar {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 10px;
}

.tab-panel {
  padding: 20px;
}

.tab-text {
  font-size: 1.2em;
  padding: 10px;
}

.summary {
  padding: 20px;
}